[Unit]
Description=Raspberry Pi GPIO Initialization
After=network.target

# This service is a hack... The GPIO does not seem to always be ready immediately on boot
# but there is no indication. All function return success and processes startup, but 
# I receive no callbacks.  A 10 second pause and a call to unexportall seems to kick it 
# alive usually, but the results are not entirely consistent. I asked Gordon @ Drogon the 
# author of Wiring Pi about this, but his suggestions did not help.

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/share/kegnet/bin/init-gpio.sh

